<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Graphics_Asp_MVC</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css" />
</head>
<body>

    <Partial name="Partials/_nav" />
    <Partial name="Partials/_header" />

  
            @RenderBody()

    <Partial name="Partials/_section-form-requests" />
    <Partial name="Partials/_footer-contact" />
    <Partial name="Partials/_footer" />
    <Partial name="Partials/_copywrite" />
    <Partial name="Partials/_scripts" />
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
