@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>
            <p>
                © <a href="#" title="Clark County School District">Clark County School District</a>. All Rights Reserved.
                <a href="#" title="Accessibility
                        Statement">
                    Accessibility
                    Statement
                </a>.
            </p>
        </small>
    </div>
</div>
