@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-expand-lg bg-blue text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/img/ccsd-main-logo-white.png" alt="Graphics Art Center">
        </a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 "
                       href="#"
                       title="Home">Home</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3"
                       href="/formdownloads"
                       title="District Forms">District Forms</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3"
                       href="#"
                       title="District Downloads">District Downloads</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
