@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="page-section" id="graphic_request_forms">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase mb-5">Graphic Art Work Requests</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm p-3">
                    <div class="card shadow text-center pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      min-height: 5rem;
      ">
                        <div class="card-body">
                            <p style="text-align:center"><img src="assets/img/icons/work-request-form.png" alt="" /></p>
                            <h5 class="card-title mt-0" style="color:#838484">Work Request Form</h5>
                        </div>
                        <div class="card-footer text-center pb-4">
                            <a href="#" class="btn btn-primary shadow"
                               style="background-color:#1671b7;border:1px solid #1671b7;">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm  p-3">
                    <div class="card shadow text-center  pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      min-height: 5rem;
      ">
                        <div class="card-body">
                            <p style="text-align:center"><img src="assets/img/icons/quick-form-request.png" alt="" /></p>
                            <h5 class="card-title mt-0" style="color:#838484">Quick Copy Form</h5>
                        </div>
                        <div class="card-footer text-center pb-4">
                            <a href="#" class="btn btn-primary shadow"
                               style="background-color:#1671b7;border:1px solid #1671b7;">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm  p-3">
                    <div class="card shadow text-center pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;

      ">
                        <div class="card-body">
                            <p style="text-align:center"><img src="assets/img/icons/business-card-form.png" alt="" /></p>
                            <h5 class="card-title mt-0" style="color:#838484">Business Card Order Form</h5>
                        </div>


                        <div class="card-footer text-center pb-4">
                            <a href="#" class="btn btn-primary shadow"
                               style="background-color:#1671b7;border:1px solid #1671b7;">Download</a>
                        </div>

                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card shadow text-center pt-3" style="
      border-top: 5px solid #1671b7;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;

      ">
                        <div class="card-body">
                            <p style="text-align:center"><img src="assets/img/icons/holiday-card.png" alt="" /></p>
                            <h5 class="card-title mt-0" style="color:#838484">Holiday Card Order Form</h5>
                        </div>
                        <div class="card-footer text-center pb-4">
                            <a href="#" class="btn btn-primary shadow"
                               style="background-color:#1671b7;border:1px solid #1671b7;">Download</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
