@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <h2 class="page-section-heading text-center text-uppercase mb-5">About</h2>

            <div class="col-sm">

                <!-- Accordian -->
                <div class="accordion accordion-flush" id="accordianDownloads">
                    <div class="accordion-item  shadow p-1 bg-white" style="border: 1px solid lightgrey;">
                        <h2 class="accordion-header" id="flush-headingOne" style="margin-top:0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                <span style="font-weight:bold; color: #1671b7;">
                                    DESIGN
                                </span>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordianDownloads">
                            <div class="accordion-body">
                                <p>
                                    Working with a graphic designer will speed your project along, set
                                    you
                                    apart from the rest, and result in
                                    a professional-looking finished product that you can be proud of. We are flexible
                                    and
                                    sensitive to your
                                    needs, and are available for a consultation via email, over the phone, or in person,
                                    at
                                    your
                                    convenience.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">

                <!-- Accordian -->
                <div class="accordion accordion-flush" id="accordianDownloads1">
                    <div class="accordion-item shadow p-1 bg-white" style="border: 1px solid lightgrey;">
                        <h2 class="accordion-header" id="flush-headingOne1" style="margin-top:0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne1" aria-expanded="false"
                                    aria-controls="flush-collapseOne2">
                                <span style="font-weight:bold; color: #1671b7;">
                                    COPY/ PRINT
                                </span>
                            </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne1" data-bs-parent="#accordianDownloads1">
                            <div class="accordion-body">
                                <p>
                                    High-speed digital and offset printing equipment quickly produces
                                    millions of impressions for CCSD each
                                    year, in both black and white and full color. Cross-trained team members are able to
                                    attack the most
                                    difficult projects and move them out the door with relative ease. Need copies of
                                    instructional
                                    materials? We have access to state-approved files to support you and your classroom
                                    goals.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">

                <!-- Accordian -->
                <div class="accordion accordion-flush" id="accordianDownloads2">
                    <div class="accordion-item  shadow p-1 bg-white" style="border: 1px solid lightgrey;">
                        <h2 class="accordion-header" id="flush-headingOne2" style="margin-top:0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne2" aria-expanded="false"
                                    aria-controls="flush-collapseOne2">
                                <span style="font-weight:bold; color: #1671b7;">
                                    FINISHING
                                </span>
                            </button>
                        </h2>
                        <div id="flush-collapseOne2" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne2" data-bs-parent="#accordianDownloads2">
                            <div class="accordion-body">
                                <p>
                                    There are many options when it comes to putting a finishing touch on your project.
                                    Fill
                                    us in on the needs and details involved with your project, so that we can recommend
                                    how
                                    to achieve the most effective results.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
